.categories__list {
    padding: 0 60px;
    display: flex;
    gap: 40px;
    background-color: var(--color-blue);
  }
  
  @media only screen and (max-width: 800px) {
    .categories__list{
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 10px;
      padding:0 20px;
      
    }
  }

  .categories__list .categories__item {
    height: 60px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
  }
  
  .categories__list .categories__item:hover {
    font-weight: bold;
  }
  

  .select-category{
      font-weight: 900;
      text-decoration:underline ;
  }