@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
:root {
  --color-gray1: #EFEFEF;
  --color-gray2: #606061;
  --color-blue: #0163d2;
}

* {
  margin: 0;
  padding: 0;
}

body{
    width: 100vw;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f8f8f8;
}

ul{
    list-style: none;
}